{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-8">

            {% block body %}{% endblock %}

        </div>
        <div class="col">
            {% block sidebar %}

                {% include "partials/cart.html.twig" %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
